h1{
   color: red;
   text-align: center;
   text-decoration: overline gray wavy;
   letter-spacing: 2px;
}

button{
   color: black;
   background-color: yellow;
}

#submit2{
   color:violet;
   background-color: green;
}

body{
   background-color: aqua;
}
h2{
   color: rgb(21,123,54);
   text-align: center;
}

p{
   line-height: 1.5;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}